p {
	font-family: helvética;
	text-align: center;
	font-size: 25px;
  margin-bottom: 30px;
  margin-top: 100px;
}



body {
  background-color: rgba(18, 88, 88, 0.12);
  
}

#listaejercicios{
  
  
  font-size: 20px;
  margin-top: 5px;
  float:auto;
  margin-left: 200px;
  display: block;
  color: black;
  font-family: 'Open sans';
  
  
}
  
a {text-decoration:dashed;

}


.img {
    display:flex;
	width: 95%; 
	margin: 10px;
}

img {
	margin-left: 325px;
	width: 55%;
 	height: 55%;
  border-radius: 40px;
}
  
.navegacion{
  display: flex;
  align-items: center;
  justify-content: center;
   width: 100%;
  background: #21d82a;
  font-size: 20px;
}

.navegacion ul{
  list-style:lower-roman;
}

.menu > li{
  position:relative;
  display: inline-block;
}

.menu > li > a{
  display: block;
  padding: 15px 20px;
  color: #353535;
  font-family: 'Open sans';
  text-decoration: none;
}

.menu li a:hover{
  color: #CE7D35;
  transition: all .2s;
}
.pie {
  background-color: #3f053f;
  margin-top: 10px;
  box-shadow: 0 1px 1px 0 rgba(204, 33, 118, 0.12);
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  text-align: left;
  font: normal 10px sans-serif;
 

  color: #ffffff;
  font-size: 18px;
  height: 50px;
}